<container class="footer-container">
  <row>
    <coloumns>
      <center>
        <img src="https://i.imgur.com/ivIpTvC.jpg" alt="chimpfooterhead">
      </center>
    </coloumns>
  </row>
  <row>
    <columns large="3" valign="middle">
      <center>
        <p class="text-center"><a href="#" target="_blank">
            <b>&#169; 2021 Mailchimp</b></a></p>
        <p class="text-center subheader">675 Ponce De Leon Ave NE, Suite 5000, Atlanta, GA 30308 | mailchimp.com</p>
      </center>
    </columns>
  </row>
  <row>
    <coloumns>
      <center>
        <p class="chimp-terms text-center">
          <u> Unsubscribe</u> • <u> View in Browser</u> • <u>Terms of Use</u> • <u>Privacy Policy</u>
        </p>
      </center>
    </coloumns>
  </row>
  <row>
    <coloumns>
      <center>
        <menu>
          <item href="#">
            <img style="height:20px;padding:10px;" src="https://i.imgur.com/HUm8x8y.png" alt="facebook">
          </item>
          <item href="#">
            <img style=" height:20px;padding:10px;" src="https://i.imgur.com/nvev2Qx.png" alt="bird">
          </item>
          <item href="#">
            <img style=" height:20px;padding:10px;" src="https://i.imgur.com/kIIpw0R.png" alt="insta">
          </item>
          <item href="#">
            <img style=" height:20px;padding:10px;" src="https://i.imgur.com/Eg3Uecy.png" alt="linkin">
          </item>
        </menu>
      </center>
    </coloumns>
    <coloumns>
      <center>
        <menu class="google-apple-play">
          <item href="#">
            <img style="height:40px;padding:10px;" src="https://i.imgur.com/jfuQlVW.png" alt="google">
          </item>
          <item href="#">
            <img style="height:40px;padding:10px;" src="https://i.imgur.com/BFmbmj2.png" alt="apple">
          </item>
        </menu>
        <p class="trade-mark">
          Mailchimp is a registered trademark of The Rocket Science Group. Apple and the Apple logo aretrademarks of
          Apple
          Inc., registered in the U.S. and other countries. Mac App Store is a service mark of Apple Inc.Google Play and
          the Google Play logo are trademarks of Google.
        </p>
      </center>
    </coloumns>
  </row>
</container>
